.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 380px;
  left: 60px;
}

.baloon {
position: absolute;
z-index: 4;
left: 350px;
top: 20px;
}

.speech {
  font-size: 25px;
  position: absolute;
  z-index: 5;
  top: 55px;
  left: 375px;
}

.bowser {
  width: 400px;
  position: absolute;
  z-index: 3;
  left: 600px;
}