h1, p {
  text-align: center;
}

ol:hover, ul:hover {
  background-color: lightpink;
}

li:active {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
  list-style: none;
}